<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_head %>
  <title>TinyApp</title>
</head>
<body>
<%  include ../partials/_header  %>
<h2>All URLs</h2>
<ul>
  <% Object.keys(urls).forEach(function(key,index){%>
    <li> <a href="../u/<%= key%>"><%= key%></a> -> <a href="<%= urls[key].url%>"><%= urls[key].url%></a>
    <form action="/urls/<%= key%>/delete" method="POST" style="margin:20px;">
      <input type="submit" value="Delete">
    </form>
    <form action="/urls/<%= key%>" method="GET">
      <input type="submit" value="Update" margin: 8px style="margin:5px;">
    </form>
    </li>
    <p>Date created: <%= urls[key].datesModified[0]%></p>
    <p>Date last modified: <%= urls[key].datesModified[urls[key].datesModified.length-1]%></p>
  <%});%>
</ul>
<% include ../partials/_footer %>
</body>
</html>
